# node modules
node_modules/
backend-api/node_modules/
backend-api/uploads/
frontend-web/node_modules/

# python venv
drawing-engine/venv/
drawing-engine/__pycache__/

# build outputs
dist/
.next/

.env
.env*

.DS_Store

.mcp*
memo*

npm/